<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>hello you have successfully registered for <%= @event %> .</h1>
    <p>See you soon in the event...</p>
  </body>
</html>