For this summer you can take part in these events:Please log in and register in any of the events as you like
<ul>
    <% @events.each do |event| %>
    <li><%= event.title %></li>
    <% end %>
</ul>