<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>For this summer you can take part in these events:</h1>
    <ul>
      <% @events.each do |event| %>
        <li><%= event.title %></li>
      <% end %>
    </ul>
  </body>
</html>